
//
// Crutches
// --------------------------------------------------

.js-iad + .js-iad {
	.form-control();
	margin-top: 15px;
}

.js-datepicker-toggle {
	cursor: pointer;
}

.datepicker.dropdown-menu {
	.opacity(1);
	visibility: visible;
}

@media (max-width: @grid-float-breakpoint) {
	#block_auto_sponsored {
		margin-top: 30px;
	}

	#block_auto_body_list {
		display: none;
	}
}